# Excluye carpetas de MCUXpresso Workspace
*.metadata
*.mcuxpressoide_packages_support
*.launch

# Excluye carpeta FreeRTOS_TAD_logs
/FreeRTOS_TAD_logs/

# Excluye carpeta temporal Debug/Release
/carpeta_pj_final/Debug/
/carpeta_pj_final/Release/

# Excluye carpeta html de doxygen
/carpeta_pj_final/doxygen/html/